In [31]:
# Create a dictionary

person = {
    "first_name": 'Wayne',
    "last_name": 'Gretsky',
    "nationality": 'Canada',
    "birth_year": 1961
}
person['first_name']
person['first_name'] = 'Jane' # We can change Wayne's name to Jane
person

{'first_name': 'Jane',
 'last_name': 'Gretsky',
 'nationality': 'Canada',
 'birth_year': 1961}

# EXERCISE: create a dictionary called car_type with your choice of a car brand, model, year, usnews_rating, and engine size.

In [8]:
 car_type = {
    "brand": 'Chevy',
    "model": 'Trax',
  "year": 2024 ,
   "usnews_rating" : 4.2 ,
    "engine size" : 3

}
car_type['model']

'Trax'

In [9]:
#LIST

primes = [2, 3, 5, 7, 11]
users = ["Dillon", "Michael", "Lea"]
users[-1]

'Lea'

In [10]:
users[0] = 'Madison'
users

['Madison', 'Michael', 'Lea']

In [11]:
users.append('Rachel')
users

['Madison', 'Michael', 'Lea', 'Rachel']

In [12]:
users.pop()
users

['Madison', 'Michael', 'Lea']

In [13]:
# List with dictionaries as each item

products = [
    {"name": "IPhone 12", "price": 949},
    {"name": "Fairphone", "price": 419},
    {"name": "Pixel 5", "price": 799}]

# Create a list with dictionaries of 3 people with their names, ages, city of birth, and occupation.

In [19]:
people_work = [
    {"name": "Madie", "age": "21" , "city_birth":"NewYork" , "occupation" :"Teacher"  },
    {"name": "Kelly", "age": "22" , "city_birth":"Rochester" , "occupation" :"Accountant"},
    {"name": "Lexi", "age": "23" , "city_birth":"LongIsland" , "occupation" :"Doctor"}]
people_work[0]

{'name': 'Madie',
 'age': '21',
 'city_birth': 'NewYork',
 'occupation': 'Teacher'}

## Tuples

In [20]:
point_dict = {"x": 2, "y": 4}
point_tuple = (2, 4)

date_dict = {
  "year": 1973,
  "month": 10,
  "day": 23
}
date_tuple = (1973, 10, 23)

date_tuple[0] # 1973
len(date_tuple) # 3

3

In [21]:
a = [1, 2, 3]
b = a
b.append(4)
a

[1, 2, 3, 4]

OBJECT REFERENCES AND MUTATIONS

In [22]:
a = [1, 2, 3]
b = a
b.append(4)

In [23]:
a = [1, 2, 3]
# creating a new copy
b = a.copy()
# modifying b
b.append(4)
a

[1, 2, 3]

## INPUT AND OUTPUT OF TEXT

In [26]:
print("What is your name?")
name = input()
name
print("Nice to meet you, " + name)
#name_length = len(name)
#name_length

What is your name?
Madison
Nice to meet you, Madison

## Write a program which will ask the user for their birth year and will respond with the user's age in the year 2025.

In [35]:
print("What is birth year?")
birthyear = input()
birthyear
print("in 2025, you will be", 2025 - int(birthyear))

What is birth year?
2003
in 2025, you will be 22

In [30]:
import random

print(random.randint(1, 6))
print(random.choice(["heads", "tails"]))

3
heads